/*
Theme Name: Basic
Theme URI: https://wpcount.com/themes/basic-wordpress-theme
Author: Jazib Zaman
Author URI: https://wpcount.com/
Description: Basic is a Multi-Purpose WordPress theme. It comes with all necessary features for your website. Basic is designed with HTML5 and CSS3 which makes it fully responsive across all devices (Desktop, tablet, mobile phones) for great user experience.
Version: 2.0.5
Tags: one-column, two-columns, right-sidebar, custom-logo, flexible-header, custom-background, custom-menu, footer-widgets, blog, threaded-comments, translation-ready
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl.html
Text Domain: basic
*/

/*-------------------  Theme Menu    --------------------*/
.navbar-wp {
	margin: 0;
	padding: 0;
	z-index: 1000;
}
.navbar-brand {
	font-size: 26px;
	height: auto;
	line-height: 20px;
	margin-right: 50px;
	padding: 15px 0;
	font-weight: 900;
	transition: 0.3s;
}
.navbar-brand .site-title{
	transition: 0.3s;
	line-height: 35px;
}
.navbar-brand:hover .site-title{
	text-shadow: 2px 1px blue;
	transition: 0.3s;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{
	color: white;
	background-color: #3A3A3A;
}

.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover{
	background-color: #3A3A3A;
}
.navbar-brand span.site-description {
	font-size: 13px;
	line-height: 0;
}
.navbar-wp .navbar-nav > li> a {
	padding: 16px 16px;
	margin-right: 0;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: -0.05em;
	-webkit-transition: all .25s ease-out;
	-moz-transition: all .25s ease-out;
	transition: all .25s ease-out;
	margin-bottom: 0px;/*
	font-family: 'Montserrat', sans-serif;*/
}
.navbar-wp .navbar-nav > li > ul::before {
	content: "";
	left: 15%;
	position: absolute;
	top: -22px;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-image: none;
	border-style: solid;
	border-width: 11px;
	width: 0;
	z-index: 1100;
	display: none;
}
.navbar-wp .navbar-nav > li > ul > li > a i {
	padding-right: 10px;
}
.navbar-wp .navbar-nav > .disabled > a, .navbar-wp .navbar-nav > .disabled > a:hover, .navbar-wp .navbar-nav > .disabled > a:focus {
	background-color: transparent;
}
.navbar-base .navbar-nav > .open > a, .navbar-base .navbar-nav > .open > a:hover, .navbar-base .navbar-nav > .open > a:focus {
	background: transparent;
}
.navbar-toggle {
	border-radius: 2px;
	margin-top: 20px;
	padding: 12px 16px 7px 16px
}
.navbar-wp .dropdown-menu {
	min-width: 200px;
	padding: 0;
	border: none;
	border-radius: 0;
	z-index: 10;
	right: auto;
	left: 0;
}
.menu-item-has-children .dropdown-menu.sm-nowrap li a{
	white-space: normal;
}
.navbar-wp .dropdown-menu > li:last-child {
	border: 0
}
.navbar-wp .dropdown-menu > li > a {
	padding: 10px 15px;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 1px;
}
.navbar-nav > li:last-child > .dropdown-menu {
	right: 0;
	left: auto;
}
.navbar-wp.affix .navbar-inner {
	border-bottom: 0
}
.navbar-wp.affix .navbar-nav > li > a {
	padding: 18px 16px;
	margin-right: 0;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase
}
.dropdown-submenu {
	position: relative
}
.dropdown-submenu > .dropdown-menu {
	top: -1px;
	left: 100%;
	margin-top: 0;
	margin-left: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0
}
.dropdown-submenu:hover > .dropdown-menu {
	display: block;
	padding: 0
}
.dropdown-submenu.pull-left {
	float: none
}
.dropdown-submenu.pull-left > .dropdown-menu {
	left: -100%;
	margin-left: 10px
}
.is-sticky .navbar-wp {
	box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2);
}
.is-sticky .navbar-brand {
	padding: 8px 0 0 15px;
	transition: all 0.25s ease-out 0s;
	font-size: 22px;
	line-height: 18px;
}
.is-sticky .navbar-brand img {
	height: 40px;
	transition: all 0.25s ease-out 0s;
}
.is-sticky .navbar-nav > li > a {
	padding: 16px 16px;
	transition: all 0.25s ease-out 0s;
}
.basic-search-box > .dropdown-menu {
	right: 0;
	left: auto;
}
.basic-search-box .basic-search .btn {
	padding: 2px 12px;
	border-radius: 0 3px 3px 0;
	height: 40px;
	border-width: 1px;
	border-style: solid;
}
/* --------------------------------------
=========================================
	General
=========================================
-----------------------------------------*/

img {
	max-width: 100%;
}

/*---------------------------------------
	Body & Global           
-----------------------------------------*/
body {
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}
.boxed {
	width: 1170px;
	margin: 0 auto;
	box-shadow: 0 0 10px 0 rgba(48, 48, 48, 0.5);
}
a {
	text-decoration: none;
}
body a:focus, body a:hover {
	outline: none;
	text-decoration: none;
}
select {
	background-clip: padding-box;
	background-color: #fff;
	border: 2px solid #eee;
	border-radius: 3px;
	color: #444;
	display: block;
	font-weight: 400;
	overflow: hidden;
	padding: 6px 12px;
	position: relative;
	text-decoration: none;
	white-space: nowrap;
}
textarea {
	border-width: 2px;
	border-style: solid;
	border-radius: 3px;
}
 .no-gutter > [class*=col-] {
 padding-right: 0;
 padding-left: 0;
}
input:not([type]), input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="url"], input[type="text"] {
	border-radius: 3px;
	margin-bottom: 20px;
	box-shadow: inherit;
	padding: 6px 12px;
	line-height: 25px;
	border-width: 2px;
	border-style: solid;
}
input[type="reset"], input[type="submit"], button {
	padding: 5px 35px;
	line-height: 30px;
	border-radius: 2px;
	font-weight: bold;
	font-size: 14px;
	border-width: 1px;
	border-style: solid;
	transition: all 0.4s ease-in-out 0s;
}
input:not([type]):hover, input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="tel"]:hover, input[type="url"]:hover, input[type="text"]:hover, input:not([type]):focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="text"]:focus {
	border-width: 2px;
	border-style: solid;
}
input[type="submit"]:hover, button:hover, input[type="submit"]:focus, button:focus {
	transition: all 0.3s ease 0s;
	outline: none;
}
mark, .mark {
	padding: 2px 5px;
	border-radius: 3px;
}
/*Responsive Video*/
.responsive-video {
	height: 0;
	padding-top: 1px;
	position: relative;
	padding-bottom: 56.25%; /*16:9*/
}
.responsive-video iframe {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	border: none;
}
/*---------------------------------------
	Typography        
-----------------------------------------*/
h1, .h1 {
	font-size: 34px;
	line-height: 40px;
}
h2, .h2 {
	font-size: 32px;
	line-height: 35px;
}
h3, .h3 {
	font-size: 26px;
	line-height: 30px;
}
h4, .h4 {
	font-size: 24px;
	line-height: 25px;
}
h5, .h5 {
	font-size: 20px;
	line-height: 20px;
}
h6, .h6 {
	font-size: 16px;
	line-height: 20px;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	letter-spacing: -0.05em;
}
.alignright {
	text-align: right;
}
.alignleft {
	text-align: left;
}
.aligncenter {
	text-align: center;
}

blockquote {
	position: relative;
	width: 100%;
	border-width: 0 0 0 5px;
	border-style: solid;
}
blockquote::before {
	color: #d0d0d0;
	content: "\f10d";
	display: table;
	float: left;
	font-family: "FontAwesome";
	font-size: 28px;
	margin-top: 6px;
	font-weight: normal;
	width: 6%;
}
blockquote p {
	font-style: italic;
	width: 94%;
	display: table;
}
/*---------------------------------------
	Button Styles           
-----------------------------------------*/
.btn {
	padding: 5px 35px;
	line-height: 30px;
	overflow: hidden;
	position: relative;
	border-radius: 2px;
	font-weight: bold;
	display: inline-block;
	transition: all 0.4s ease-in-out 0s;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.18), 0 3px 6px rgba(0, 0, 0, 0.16);
}
.btn-theme {
	border: none;
}
.btn-theme:hover, .btn-theme:focus {
	transition: all 0.3s ease 0s;
	outline: none;
}
.btn-theme-two {
	margin-left: 15px;
}
.btn-theme-two:hover, .btn-theme-two:focus {
	transition: all 0.3s ease 0s;
	outline: none;
}
.pagination > li:first-child > a, .pagination > li:first-child > span {
	border-radius: 50%;
}
.pagination > li:last-child > a, .pagination > li:last-child > span {
	border-radius: 50%;
}
.pagination > li > a, .pagination > li > span {
	margin: 0 3px;
	border-radius: 50%;
	border-width: 2px;
	border-style: solid;
	border-color: #ddd;
}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > li > a:hover, .pagination > li > a:focus, .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	transition: all 0.3s ease 0s;
}
button.mfp-close:hover, button.mfp-close:focus {
	background: inherit;
}
/*---------------------------------------
	WP Styles  
-----------------------------------------*/
/*--WP--*/

.bypostauthor > article .fn:after {
	display: inline-block;
	font-size: 16px;
	line-height: 1;
	speak: none;
	text-align: center;
	text-decoration: inherit;
	text-transform: none;
	vertical-align: top;
}
.sticky {
	display: block;
}
.gallery-caption {
	color: #686868;
	display: block;
	font-size: 13px;
	font-size: 0.8125rem;
	font-style: italic;
	line-height: 1.6153846154;
	padding-top: 0.5384615385em;
}
.wp-caption {
	margin-bottom: 1.75em;
	max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0;
}
.wp-caption .wp-caption-text {
	color: #686868;
	font-size: 13px;
	font-style: italic;
	line-height: 1.6153846154;
	padding-top: 0.5384615385em;
}
.content-area img.alignnone, .content-area figure.alignnone img {
	width: 100%;
	height: auto;
}
.content-area figure {
	width: 100%;
}
.entry-footer {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.entry-footer .screen-reader-text {
	display: none;
}
img.alignnone {
	width: 100%;
	height: auto;
}
img.size-large {
	width: 100%;
	height: auto;
}
*:focus {
	outline: 0;
}
.select2-container .select2-choice {
	height: 40px;
	padding: 6px 12px;
}
/*--------------- ti slider Custom Buttons---------------*/
.btn.btn-tislider, .btn.btn-tislider:hover, .btn.btn-tislider:focus {
	outline: none;
	margin: 20px auto;
	letter-spacing: 1px;
}
.btn.btn-tislider-two { 
	outline: none;
	letter-spacing: 1px;
	float: right;
	margin-top: 10px;
}
/*---------------------------------------
	themesection         
-----------------------------------------*/
.basic-section {
	padding: 40px 0;
	margin: 0;
	border-bottom: 1px solid #e8e8e9;
}
#content {
	padding: 40px 0;
}
/*------------         themeblog    --------------------------*/
.basic-blog-section {
}
.basic-blog-section .overlay {
	width: 100%;
	height: 100%;
	position: relative;
	padding: 40px 0;
}
.basic-blog-post-box {
	margin-bottom: 40px;
	background: #eee;
	padding: 20px 30px;
	position: relative;
}

.basic-blog-post-box .small {
	font-size: 14px;
}

.basic-blog-post-box .small > p {
	margin-bottom: 15px;
}

.basic-blog-thumb {
	position: relative;
	width: 100%;
	margin-bottom: 15px;
	float: left;
}
.basic-blog-thumb img {
	position: relative;
	max-width: 100%;
	float: left;
	height: auto;
}
.basic-blog-thumb .responsive-video iframe {
	border-radius: 8px 8px 0 0;
}
.basic-blog-date {
	height: 32px;
	left: 0px;
	position: absolute;
	text-align: center;
	bottom: 0px;
	width: auto;
	padding: 0 10px;
	margin: 10px 10px -14px;
	z-index: 10;
	border-radius: 3px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
}
.basic-blog-date .h3 {
	font-size: 14px;
}
.basic-blog-date span {
	font-size: 14px;
}
.basic-blog-author {
	background: #e8e8e8 none repeat scroll 0 0;
	font-size: 16px;
	font-weight: 800;
	width: 65px;
	height: 65px;
	left: 0;
	right: 0;
	padding: 0;
	position: absolute;
	text-align: center;
	bottom: 0;
	margin: 0 auto -30px auto;
	z-index: 999;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.18), 0 3px 6px rgba(0, 0, 0, 0.16);
}
.basic-blog-author img {
	max-width: 100%;
	border-radius: 100%;
}
.basic-blog-post-box h2:first-child {
	font-size: 18px;
	line-height: 20px;
	position: relative;
}
.basic-blog-category {
	padding: 10px 0;
}
.basic-blog-category a {
	color: #b6b6b6;
	display: inline;
	font-weight: normal;
	padding: 0 8px 0 0;
	margin-right: -6px;
}
.basic-blog-category i {
	color: #888;
}
.basic-blog-category i[class*=user] {
	margin-right: 6px;
}

.btn-blog {
	padding: 10px 20px;
	border-radius: 2px;
	border-width: 1px;
	border-style: solid;
	background: transparent;
}
.btn-blog:hover {
	border-width: 1px;
	border-style: solid;
	transition: all 0.3s ease 0s;
}
.basic-info-author-block {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
	margin-top: 10px;
	padding: 20px 20px 0px 20px;
	color: #999;
	background-color: #EEEEEE;
}
.basic-info-author-block a {
	color: #777;
	font-size: 18px;
}
.basic-info-author-block .row {
	margin: 0;
}
.basic-info-author-block h4 {
	color: #333;
	font-size: 18px;
	font-weight: normal;
	display: inline-block;
	text-transform: capitalize;
}
.basic-info-author-block h4 span {
	color: #999999;
	font-size: 13px;
	padding-right: 5px;
}
.basic-info-author-block h4 span i {
	padding-right: 5px;
}
.basic-info-author-block .basic-author-pic img {
	margin: 0 25px 15px 0;
	float: left;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.18), 0 3px 6px rgba(0, 0, 0, 0.16);
	border-radius: 50%;
	width: 100px;
	height: 100px;
}
.basic-info-author-block .basic-info-author-social {
	font-size: 24px;
	padding: 0;
}
.basic-info-author-block .basic-info-author-social li a {
	color: #dbdbdb;
	font-size: 24px;
}
.basic-info-author-block .basic-info-author-social li a:hover {
	color: #777;
}

#comments.comments-area {
	padding: 15px 30px;
	background-color: #eee;
}

.comments-area h2.comments-title {
	font-size: 20px;
	margin-bottom: 20px;
}
.comments-area .comment-reply-link:before {
	content: "\f112";
	font-family: FontAwesome;
	padding-right: 8px;
}
.comments-area label {
    clear: both;
    width: 100%;
}
.comments-area .comment-reply-link {
	border-radius: 5px;
	margin-left: 10px;
	padding: 4px 8px;
	transition: all 0.3s ease 0s;
	border-width: 1px;
	border-style: solid;
	background: #349BD6;
	color: white;
	border-color: #f0f0f0;
}

.comments-area .comment-reply-link:hover {
	background-color: #eee;
	color: black;
}

.comments-area a {
	color: #777;
}
.comments-area .reply a {
	border-radius: 4px;
	margin-left: 10px;
	padding: 4px 8px;
	transition: all 0.3s ease 0s;
	border-width: 1px;
	border-style: solid;
}
.comments-area .comment-body {
    border-bottom: 1px solid #eee;
    padding: 10px 10px 16px;
}
.basic-comments a i {
	padding-right: 6px;
}
.basic-comments h4 {
	color: #888;
	font-size: 14px;
	font-weight: normal;
	margin-top: 0;
}
.basic-comments h4 span {
	color: #999999;
	font-size: 12px;
	padding-left: 7px;
}
.basic-comments .btn {
	margin-left: 5px;
}
.basic-comments .media {
	margin-top: 0;
}
.basic-comments .comment .media-body > p:last-child {
	border-bottom: 1px solid #f0f0f0;
	margin-bottom: 30px;
	margin-top: 0;
}
.basic-comments li .media-body > .small {
	border-bottom: none!important;
	padding: 0;
	color: #999;
}
.basic-comments li .media-body > p {
	border-bottom: 1px solid #f0f0f0;
	padding: 5px 0px 20px 5px;
	margin-bottom: 20px;
	color: #999;
}
.basic-comments li .media .media {
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.basic-comments li:last-child .media-body > p {
	border-bottom: none;
	padding: 0;
}
.comments-area img {
	height: 64px;
	width: 64px;
	border-radius: 50%;
	border: 2px solid #eee;
}
.comments-area .comment-list{
	padding-left: 0px;
}
.comments-area .comment-list li {
	padding: 15px 20px 0px 0px;
	background: #fff;
}
.comments-area .comment-list li .comment-meta {
	background: transparent;
}
.basic-blog-thumb > .responsive-video {
	z-index: 9;
	min-height: 240px;
}


/* --------------------------------------
=========================================
	themesidebar
=========================================
-----------------------------------------*/
.basic-sidebar {
	padding: 0;
}
.basic-sidebar a {
	transition: all 0.3s ease 0s;
}
.basic-sidebar .basic-widget .btn {
	padding: 2px 12px;
	border: none;
	border-radius: 3px;
	height: 40px;
}
.basic-sidebar .basic-widget {
	margin-bottom: 30px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
    padding: 10px 20px;
}
.basic-sidebar .basic-widget ul {
	padding: 0;
	list-style: none;
}
.basic-sidebar .basic-widget ul li {
	display: block;
	letter-spacing: 0.2px;
	line-height: 22px;
	margin: 0 0 10px;
	overflow: hidden;
	border-width: 0 0 1px 0;
	border-style: solid;
	padding: 10px 0;
	position: relative;
	transition: all 0.4s ease-in-out 0s;
}
.basic-sidebar .basic-widget ul li:last-child { 
	border-width: 0 0 0px 0;
	border-style: solid;
	margin: 0;
}
.basic-sidebar .basic-widget h2 {
	font-size: 16px;
	line-height: 20px;
}
.basic-sidebar .basic-widget h6, .basic-sidebar .basic-widget h2 {
	position: relative;
	padding-bottom: 15px;
	margin-bottom: 20px;
	display: inline-block;
}
.basic-sidebar .basic-widget h6::before, .basic-sidebar .basic-widget h2::before {
	border-width: 1px;
	border-style: solid;
	bottom: 0;
	content: "";
	display: block;
	left: 0;
	margin: auto;
	position: absolute;
	width: 30px;
	transition: all 0.4s ease 0s;
}
.basic-widget h6:hover::before {
	width: 100%;
}
.basic-sidebar .basic-widget ul li a:hover {
	padding-left: 10px;
	transition: all 0.4s ease-in-out 0s;
}
.basic-sidebar .basic-widget ul.menu li .sub-menu {
	margin-left: 15px;
}
.basic-sidebar .basic-widget ul.menu li .sub-menu li {
	border-bottom: none;
	padding: 10px 0 0;
}
.basic-sidebar .basic-widget.widget_search .btn {
	border: medium none;
	border-radius: 0 3px 3px 0;
	height: 32px;
	padding: 2px 12px;
	transition: all 0.3s ease 0s;
}
.basic-sidebar .basic-category-widget ul li {
	padding: 10px 0;
	position: relative;
	transition: all 0.4s ease-in-out 0s;
	border-width: 0 0 1px 0;
	border-style: solid;
}
.basic-sidebar .basic-category-widget ul li a:hover {
	padding-left: 10px;
	transition: all 0.4s ease-in-out 0s;
}
.basic-sidebar .basic-widget .basic-widget-tags, .basic-sidebar .basic-widget .tagcloud {
	margin: 0 0 10px;
	overflow: hidden;
	padding: 0;
}
.basic-sidebar .basic-widget .basic-widget-tags a, .basic-sidebar .basic-widget .tagcloud a {
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	font-weight: normal;
	line-height: 20px;
	margin: 0 5px 9px 0;
	padding: 6px 12px;
	transition: all 0.4s ease-in-out 0s;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
}
.basic-sidebar .basic-widget-tags a:hover, .basic-sidebar .basic-widget .tagcloud a:hover {
	border-width: 1px;
	border-style: solid;
	transition: all 0.4s ease-in-out 0s;
}
.basic-sidebar .basic-widget .basic-widget-quote .form-control {
	border-radius: 0;
	margin-bottom: 20px;
	font-size: 12px;
}
.basic-sidebar .basic-widget .basic-widget-quote .btn {
	border-radius: 2px;
	padding: 5px 35px;
}
/*--theme-blog-post end--*/ 
.basic-sidebar .basic-widget .basic-blog-post {
	margin-bottom: 0;
	margin-top: 0 !important;
	overflow: hidden;
	padding-bottom: 20px;
}
.basic-sidebar .basic-widget .basic-post-area {
	display: block;
	float: left;
	margin-left: 0;
	margin-right: 15px;
}
.basic-sidebar .basic-widget .basic-blog-post .basic-post-area img {
	border-radius: 2px;
	display: block;
	height: 70px;
	max-width: 70px;
	transition: all 0.3s ease-in-out 0s;
}
.basic-sidebar .basic-widget .basic-blog-post h3 {
	display: block;
	font-size: 13px;
	line-height: 22px;
	margin-bottom: 5px;
	margin-top: -5px;
	word-wrap: break-word;
}
.basic-widget .basic-blog-post span {
	display: block;
	font-size: 12px;
	line-height: 20px;
	margin-right: 8px;
	font-style: italic;
}
/*--theme-blog-post end--*/ 
/*--calendar_wrap--*/ 
.basic-sidebar .basic-widget .calendar_wrap table {
	width: 100%;
	font-size: 11px;
}
.basic-sidebar .basic-widget .calendar_wrap table caption {
	border-radius: 2px;
	font-size: 16px;
	font-weight: 500;
	line-height: 35px;
	margin-bottom: 0;
	padding: 5px 12px;
	text-align: center;
	border-width: 1px;
	border-style: solid;
}
.basic-sidebar .calendar_wrap table thead th {
	border-width: 1px;
	border-style: solid;
}
.basic-sidebar .calendar_wrap table tbody td:hover, .basic-sidebar .calendar_wrap table tbody #today:hover {
	transition: all 0.3s ease 0s;
}
.basic-sidebar .calendar_wrap table tfoot {
	border-width: 1px;
	border-style: solid;
}
.basic-sidebar .basic-widget .calendar_wrap table thead th {
	text-align: center;
	padding: 6px 0;
}
.basic-sidebar .basic-widget .calendar_wrap table tbody td {
	line-height: 2.5em;
	transition: background 0.15s ease 0s;
	text-align: center;
	border-width: 1px;
	border-style: solid;
}
.basic-sidebar .basic-widget .calendar_wrap table tfoot {
	font-size: 11px;
}
.basic-sidebar .basic-widget .calendar_wrap table tfoot tr td#prev {
	padding: 5px;
	text-transform: uppercase;
}
.basic-sidebar .basic-widget .calendar_wrap table tfoot tr td#next {
	padding: 5px;
	text-align: right;
	text-transform: uppercase;
}
/*--calendar_wrap end--*/ 
.basic-sidebar .basic-widget .textwidget select, .basic-sidebar .basic-widget .textwidget img {
	width: 100%;
}
.basic-sidebar .basic-widget.widget_product_search .btn {
	padding: 2px 12px;
	height: 40px;
	border-radius: 0 3px 3px 0;
	margin-left: -1px;
}

/* ------------------   theme-error page  --------------------*/
.basic-error-404 h1 {
	font-size: 100px;
	line-height: 80px;
}
.basic-error-404 h1 i {
	padding: 5px;
}
.basic-error-404 h4 {
	line-height: 40px;
}
.basic-error-404 p {
	line-height: 30px;
}
/* -----------------  theme-footer -----------------*/
footer {
}
.copyright-section a{
	text-decoration: underline;
}
.basic-footer-top-area {
	padding: 30px 0;
}
.basic-footer-top-area .basic-app-widget .btn {
	padding: 2px 12px;
}
.basic-footer-top-area .basic-app-widget .btn > i {
	padding-right: 10px;
}
.basic-footer-top-area .basic-app-widget h5 a i {
	font-size: 26px;
}
footer .basic-footer-widget-area {
	border-top-width: 1px;
	border-top-style: solid;
	padding-top: 50px;
}
footer .basic-widget {
	margin-bottom: 50px;
}
footer .basic-widget:nth-child(4n+1) {
	clear: both;
}
footer .basic-widget .basic-subscribe {
	padding: 1px 12px;
	border-radius: 0 3px 3px 0;
	height: 40px;
}
footer .basic-widget .basic-subscribe:hover, footer .basic-widget .basic-subscribe:focus {
	border-width: 1px;
	border-style: solid;
	transition: all 0.4s ease-in-out 0s;
}
footer .basic-search-widget .btn {
	padding: 1px 12px;
	border-radius: 0;
	height: 40px;
}
footer .basic-widget.widget_search .btn {
	border-width: 1px;
	border-style: solid;
	padding: 2px 12px;
	height: 40px;
	border-top-right-radius: 3px;
}
footer .basic-widget.widget_search .btn-default, footer .basic-widget.widget_search .btn-default:hover {
	background-color: initial;
}
footer .basic-widget.widget_search .btn:hover, footer .basic-widget.widget_search .btn:focus {
	border-width: 1px;
	border-style: solid;
	transition: all 0.4s ease-in-out 0s;
}
footer .basic-widget h6 {
	font-size: 16px;
	font-weight: normal;
	margin: 0 0 30px 0;
	position: relative;
	padding-bottom: 12px;
}
footer .basic-widget h6::before {
	border: 1px solid;
	bottom: 0px;
	content: "";
	display: block;
	left: 0;
	margin: auto;
	position: absolute;
	width: 30px
}
footer .basic-widget:hover h6::before {
	width: 50%;
	transition: all 0.3s ease 0s;
}
footer .basic-widget ul {
	padding: 0;
	list-style: none;
}
footer .basic-widget ul li {
	display: block;
	letter-spacing: 0.2px;
	line-height: 22px;
	margin: 0 0 10px;
	overflow: hidden;
	padding: 0;
	border-width: 0 0 1px 0;
	border-style: solid;
}
footer .basic-widget ul li a:hover {
	transition: all 0.4s ease-in-out 0s;
}
footer .basic-widget ul li:first-child {
	padding-top: 0;
}
footer .basic-widget ul li:last-child {
	border-bottom: none;
}
footer .basic-widget ul li {
	margin: 0;
	padding: 10px 0;
	position: relative;
}
footer .basic-widget ul li a {
	transition: all 0.4s ease-in-out 0s;
}
footer .basic-widget ul li a:hover {
	padding-left: 10px;
}
footer .basic-widget .list-unstyled li:first-child {
	padding-top: 0;
}
footer .basic-widget .list-unstyled li {
	margin: 0;
	padding: 10px 0;
	position: relative;
}
footer .basic-widget .list-unstyled li {
	border-width: 1px;
	border-style: solid;
}
footer .basic-widget .list-unstyled li :last-child {
	border-bottom: none;
}
footer .basic-widget .list-unstyled li a:hover {
	transition: all 0.4s ease-in-out 0s;
}
footer .basic-widget .list-unstyled li a {
	line-height: 25px;
	transition: all 0.4s ease-in-out 0s;
}
footer .basic-widget .list-unstyled li a:hover {
	padding-left: 10px;
}
footer .basic-widget .basic-widget-tags, footer .basic-widget .tagcloud {
	margin: 0 0 10px;
	overflow: hidden;
	padding: 0;
}
footer .basic-widget .basic-widget-tags a, footer .basic-widget .tagcloud a {
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	font-weight: normal;
	line-height: 20px;
	margin: 0 5px 9px 0;
	padding: 6px 12px;
	transition: all 0.4s ease-in-out 0s;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
}
footer .basic-widget .basic-widget-tags a:hover, footer .basic-widget .tagcloud a:hover {
	border-width: 1px;
	border-style: solid;
	transition: all 0.4s ease-in-out 0s;
}
footer .basic-widget .basic-widget-quote .form-control {
	border-radius: 0;
	margin-bottom: 20px;
	border: none;
	font-size: 12px;
}
footer .basic-widget .calendar_wrap table {
	width: 100%;
	font-size: 11px;
}
footer .basic-widget .calendar_wrap table caption {
	border-radius: 2px;
	font-size: 16px;
	font-weight: 500;
	line-height: 35px;
	margin-bottom: 0;
	padding: 5px 12px;
	text-align: center;
	border-width: 1px;
	border-style: solid;
}
footer .basic-widget .calendar_wrap table thead th {
	text-align: center;
	padding: 6px 0;
	border-width: 1px;
	border-style: solid;
}
footer .basic-widget .calendar_wrap table tbody td {
	line-height: 2.5em;
	transition: background 0.15s ease 0s;
	text-align: center;
	border-width: 1px;
	border-style: solid;
}
footer .calendar_wrap table tbody #today:hover {
	transition: all 0.3s ease 0s;
}
footer .calendar_wrap table tbody td:hover {
	transition: all 0.3s ease 0s;
}
footer .basic-widget .calendar_wrap table tfoot {
	font-size: 11px;
	border-width: 1px;
	border-style: solid;
}
footer .basic-widget .calendar_wrap table tfoot tr td#prev {
	padding: 5px;
	text-transform: uppercase;
}
footer .basic-widget .calendar_wrap table tfoot tr td#next {
	padding: 5px;
	text-align: right;
	text-transform: uppercase;
}
footer .basic-widget .textwidget select, footer .basic-widget .textwidget img {
	width: 100%;
}
footer .basic-blog-post {
	margin-bottom: 0;
	margin-top: 0;
	overflow: hidden;
	padding-bottom: 20px;
}
footer .basic-post-area {
	display: block;
	float: left;
	margin-left: 0;
	margin-right: 15px;
}
footer .basic-blog-post .basic-post-area img {
	border-radius: 2px;
	display: block;
	height: 70px;
	max-width: 70px;
	transition: all 0.3s ease-in-out 0s;
}
footer .basic-blog-post h3 {
	display: block;
	font-size: 13px;
	line-height: 22px;
	margin-bottom: 5px;
	margin-top: -5px;
	word-wrap: break-word;
}
footer .basic-blog-post span {
	display: block;
	font-size: 12px;
	line-height: 20px;
	margin-right: 8px;
	font-style: italic;
}
footer .basic-widget .form-control {
	border-width: 1px;
	border-style: solid;
}
footer .basic-widget.widget_product_search .btn {
	padding: 2px 12px;
	height: 40px;
	border-radius: 0 3px 3px 0;
	margin-left: -1px;
}
/*----contactform footer-widget----*/
footer .basic-widget .wpcf7-form .wpcf7-form-control {
	border: none;
}
.copyright{
	padding-top: 10px;
}

.basic-footer-copyright {
	padding: 25px 0 10px;
}
.basic-footer-copyright p, .basic-footer-copyright a {
	font-size: 13px;
	line-height: 23px;
	color: white;
}
.basic-footer-copyright .basic-social {
	padding: 0px;
	margin: 0;
}
.basic-footer-copyright .basic-social li {
	display: inline-block;
	margin-right: 5px;
	border-bottom: none;
}
.basic-footer-copyright .basic-social li a:hover {
	padding-left: 0;
}
.basic-footer-copyright .basic-social li span.icon-soci {
	border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.18), 0 3px 6px rgba(0, 0, 0, 0.16);
    display: inline-block;
    float: left;
    height: 32px;
    line-height: 30px;
    margin: 0 4px;
    text-align: center;
    width: 32px;
    background-color: black;
}
.basic-footer-copyright .basic-social li span.icon-soci:hover {
	border-width: 1px;
	border-style: solid;
	transition: all 0.4s ease-in-out 0s;
	background-color: white;
<<<<<<< HEAD
}

.basic-footer-copyright .basic-social li span.icon-soci:hover a{
	color: black;
}

=======
}

.basic-footer-copyright .basic-social li span.icon-soci:hover a{
	color: black;
}

>>>>>>> d047f12443484c9540ccfa1297aa248b9ec1f0cf
.basic-footer-copyright .basic-social li span.icon-soci i {
	font-size: 14px;
}

.copyright a{
	transition: 0.3s;
}

.copyright a:hover{
	color: black;
	transition: 0.3s;
}


p.follow-us{
	color: black;
}
/* --------------------------------------
=========================================
	theme-scroll-button
=========================================
-----------------------------------------*/
.ti_scroll {
	bottom: 2%;
	display: none;
	height: 40px;
	opacity: 1;
	overflow: hidden;
	position: fixed;
	right: 12px;
	text-align: center;
	width: 40px;
	z-index: 9999;
	border-radius: 3px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.18), 0 3px 6px rgba(0, 0, 0, 0.16);
}
.ti_scroll:hover {
	opacity: 1;
}
.ti_scroll i {
	font-size: 26px;
	line-height: 36px;
}
.ti_scroll:hover, .ti_scroll:focus {
	border-width: 2px;
	border-style: solid;
	transition: all 0.3s ease 0s;
}
/* --------------------------------------
=========================================
	theme-Responsive Part
=========================================
-----------------------------------------*/

@media (max-width: 600px) {
.listpost-content-wrap-large {
	position: relative;
}
.listpost-content-wrap-large {
	padding: 20px 0px 0px 0px;
}
.entry-meta-large {
	position: relative;
	float: left;
	width: 100%;
}
.entry-footer-large {
	padding-right: 0;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
.navbar-wp .navbar-collapse.collapse {
	display: none;
}
.navbar-wp .navbar-collapse.collapse.in {
	display: block;
}
.navbar-wp .navbar-header .collapse, .navbar-toggle {
	display: none;
}
.navbar-header {
	float: none;
}
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a{
	color: black;
}

 @media only screen and (min-width: 240px) and (max-width: 460px) {
}
.basic-footer-top-area .basic-app-widget .btn {
	margin-top: 10px;
}
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
/* Top Details*/
.basic-head-detail .info-left {
	float: none;
	text-align: center;
	margin: 10px 0 17px;
	float: none;
}
.basic-head-detail .info-right {
	float: none;
	text-align: center;
	margin: 10px 0 17px;
	float: none;
}
/* logo*/
.navbar-default .navbar-brand {
	margin: 0 auto;
	text-align: center;
}
.navbar-wp .navbar-nav > li > a {
	padding: 12px;
}
.navbar-wp .navbar-nav > li > a:hover, .navbar-wp .navbar-nav > li > a:focus {
	border-bottom-width: 3px;
	border-bottom-style: solid;
	z-index: 8;
}
.navbar-wp .basic-search-box {
	float: left;
}
.basic-search {
	margin: 0 auto;
}
.basic-plans .basic-plan.active {
	transform: scale(1);
}
.basic-subscriber .subscription-form .int-box {
	width: 100%;
}
}
@media screen and (min-width: 240px) and (max-width: 767px) {
.basic-main-nav {
	text-align: center;
}
.navbar-toggle {
	float: none;
}
.navbar-brand{
	float: none;
	display: block;
}
/*--------------- theme-slider ---------------*/
.navbar-wp .navbar-nav>.active>a, .navbar-wp .navbar-nav>.active>a:hover, .navbar-wp .navbar-nav>.active>a:focus {
	border-bottom: none;
}
.navbar-wp .navbar-nav > a, .navbar-wp .navbar-nav> a:hover, .navbar-wp .navbar-nav a:focus {
	border-bottom: none;
}
.basic-slider-inner {
	min-width: auto !important;
	width: auto !important;
}
.basic-slider .slide-caption .description {
	font-size: 180%;
	line-height: 1em;
	margin: 0 auto;
	width: 100%;
}
}
/*--------------- Gallary ---------------*/
.gallery {
	margin: 0 -1.1666667% 1.75em;
}
.gallery-item {
	display: inline-block;
	max-width: 33.33%;
	padding: 0 1.1400652% 2.2801304%;
	vertical-align: top;
	width: 100%;
}
.gallery-columns-1 .gallery-item {
	max-width: 100%;
}
.gallery-columns-2 .gallery-item {
	max-width: 50%;
}
.gallery-columns-4 .gallery-item {
	max-width: 25%;
}
.gallery-columns-5 .gallery-item {
	max-width: 20%;
}
.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}
.gallery-icon img {
	margin: 0 auto;
}
.gallery-caption {
	color: #686868;
	display: block;
	font-size: 13px;
	font-style: italic;
	line-height: 1.6153846154;
	padding-top: 0.5384615385em;
}
.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}
.col-md-12{
	margin-bottom: 10px;
}
.hentry{
	height: 100%;
	background-color: white;
}
.nav-links a{
	margin-right: 10px;
	font-size: 20px;
	border-radius: 3px;
	padding: 2px 10px; 
	background-color: #349BD6;
	color: white;
}
.pagemaincontent{
	background-color: #eee;
	padding: 23px 30px;
}
.nav-links .page-numbers{
	margin-right: 10px;
	font-size: 20px;
	background-color: #323232;
}

.nav-links .page-numbers.dots{
	background-color: transparent;
}


.nav-links .current{
	border-radius: 3px;
	padding: 2px 10px; 
	background-color: black;
	color: white;
}

.nav-links a:hover, .nav-links .page-numbers:hover, .nav-links .current:hover{
	box-shadow:2px 2px 1px 1px grey; 

}

.nav-links .page-numbers.dots:hover{
	box-shadow:none;
}

.header-widget .basic-header-box-icon i{
	background-color: #6A9FDF;
	color: white;
	transition: 0.5s;
}

.header-widget .basic-header-box-icon i:hover{
	background-color: blue;
	transition: 0.5s;
}

.basic-blog-thumb{
	z-index: 200;
}

.menu-item-has-children .dropdown-menu.sm-nowrap li a{
	white-space: normal;
}

.basic-blog-post-box article p img{
	margin-bottom: 25px;
}
.search .grid > h2 {
	padding-left: 15px;
}
ol.comment-list,ol.children{
	list-style: none;
}
.comments-count{
	display: inline-block;
	padding: 8px;
	position: absolute;
	background-color: grey;
	left: -3%;
	top: 3px;
	z-index: 250;
}
.comments-count a{
	font-size: 20px;
	color: white;
	transition: 0.4s;
}

.comments-count a:hover{
	color: black;
	transition: 0.4s;
}

#secondary div#sidebar-right div{
	background-color: #eee;
}

.page .wrapper #content .container .row div >  p{
	padding-left:35px; 
	padding-right: 10px;
}

.basic-main-nav{
	background: #000000;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #000000, #434343);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #000000, #434343 70%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

footer{
	background-color: #4a4a4a;
}


.search-content .row h2{
	padding-left: 10%;
}

.featured-heading{
	margin-top: 0px;
	margin-bottom: 0px;
}
.featured-post .post-meta-data{
	background-color: transparent;
}

.sticky-post{
	background-color:  transparent;
}

.sticky-post .hentry{
	background-color:  #fcd9a4;
}

.sticky-post .basic-blog-post-box{
	background-color: transparent;
}

.sticky-post .basic-blog-post-box img{
		height: auto;
}

@media screen and (min-width:766px ){
	.sticky-post .basic-blog-post-box img{
		height: 250px;
	}
}

.post-meta-data {
	margin-left: -10px;
	background-color: #CFCFCF;
	padding-left: 10px;
}

figure{
	margin-right: 10px;
}


.menu-item-has-children .dropdown-menu.sm-nowrap{
	z-index: 300;
}

/*---------------------------------------------- Default Colors Css -------------------------------------------------------*/

#navbar-wp {
	padding-left: 15px;
}

.navbar-header{
	padding-left: 30px;
}

/*==================== Theme Menu ====================*/
/*=== navbar Header colors ===*/
.navbar-wp {
	background: #1396AA;
}
.navbar-header .navbar-brand {
	color: white;
}
/*=== navbar hover colors ===*/
.navbar-wp .navbar-nav > li > a {
	color: white;
}
.navbar-wp .navbar-nav > li > a:hover, .navbar-wp .navbar-nav > li > a:focus, .navbar-wp .navbar-nav > .active > a, .navbar-wp .navbar-nav > .active > a:hover, .navbar-wp .navbar-nav > .active > a:focus {
	color: white;
	background-color: #3A3A3A;
}
.navbar-wp .navbar-nav > .open > a, .navbar-wp .navbar-nav > .open > a:hover, .navbar-wp .navbar-nav > .open > a:focus {
	color: white;
	border-color: #fff;
	background-color: #1396AA;
	transition: 0.3s;
}
/*=== navbar dropdown colors ===*/ 
.navbar-wp .dropdown-menu {
	background: #1396AA;
}
.navbar-wp .dropdown-menu > li > a {
	color: white;
}
.navbar-wp .dropdown-menu > .active > a, .navbar-wp .dropdown-menu > .active > a:hover, .navbar-wp .dropdown-menu > .active > a:focus {
	background: black;
	color: white !important;
}
.navbar-wp .dropdown-menu > li > a:hover {
	background: #aaa;
	transition: 0.3s;
	color: white;
}
.navbar-wp .navbar-nav > .disabled > a {
	color: #ccc;
}
.navbar-wp .navbar-nav > .disabled > a:hover {
	color: #ccc;
}
.navbar-wp .navbar-nav > .disabled > a:focus {
	color: #ccc;
}
.navbar-wp .navbar-toggle:hover, .navbar-wp .navbar-toggle:focus {
	background: rgba(0,0,0,0);
	border-color: rgba(0,0,0,0);
	color: #fff;
}
.basic-search-box .basic-search .btn {
	background: #3f51b5;
	border-color: #3f51b5;
	color: #fff;
}

/*=== navbar drop down hover color ===*/
.navbar-base .navbar-nav > .open > a, .navbar-base .navbar-nav > .open > a:hover, .navbar-base .navbar-nav > .open > a:focus {
	color: #fff;
}
.navbar-base .navbar-nav > li > a.dropdown-form-toggle {
	color: #fff;
}
.navbar-wp .navbar-nav > li > ul::before {
	border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #3f51b5;
}
/*=== navbar text color ===*/ 
.navbar-default .navbar-toggle {
	background: rgba(0,0,0,0);
	color: #fff;
	border-color: rgba(0,0,0,0);
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #212121;
}

.navbar-wp .navbar-nav > li > a.dropdown-form-toggle {
	color: #fff;
}

/*==================== blog ====================*/
.basic-blog-date {
	background: #349BD6;
	color: #fff;
}
.basic-blog-date span {
	color: #fff;
}
.basic-blog-post-box h2 a {
	color: #1c1f24;
}
.basic-blog-category a:hover, .basic-blog-category a:focus {
	color: #3f51b5;
}
.basic-comments .reply a:hover {
	color: #3f51b5;
}
.btn-blog {
	border-color: #e1e1e1;
	color: #999;
}
.btn-blog:hover {
	background: #3f51b5;
	color: #fff;
}
.btn-blog:hover {
	border-color: #3f51b5;
}
.basic-comments .basic-reply {
	border-color: #f0f0f0;
}
.comments-area footer a:hover {
	color: #212121;
}
.basic-blog-category a {
	color: #349BD6;
}
.basic-blog-category i {
	color: #888;
}
.basic-blog-post-box .small > p {
	color: black;
}
.basic-blog-post-box input[type="checkbox"], .basic-blog-post-box input[type="radio"] {
    display: inline;
}
.basic-blog-post-box table, .basic-blog-post-box th, .basic-blog-post-box td {
    border: 1px solid #d1d1d1;
}
.basic-blog-post-box table{
	 border-collapse: separate;
    border-spacing: 0;
    border-width: 1px 0 0 1px;
    margin: 0 0 1.75em;
    table-layout: fixed;
    width: 100%;
}
.basic-blog-post-box th {
    border-width: 0 1px 1px 0;
    font-weight: 700;
}
.basic-blog-post-box th, .basic-blog-post-box td {
    padding: 0.4375em;
}
.basic-blog-post-box td {
    border-width: 0 1px 1px 0;
}
.basic-blog-author {
	background: #e8e8e8;
}
.basic-info-author-block {
	color: #999;
}
.basic-info-author-block a {
	color: #349BD6;
	font-weight: 600;
}
.basic-info-author-block h4 {
	color: #333;
}
.basic-info-author-block h4 span {
	color: #999999;
}
.basic-info-author-block .basic-info-author-social li a {
	color: #dbdbdb;
}
.basic-info-author-block .basic-info-author-social li a:hover {
	color: #777;
}
.comment_section .comment-reply-link {
	background: #f6f6f6;
	color: #212121;
	border-color: #f6f6f6;
}
.basic-comments a {
	color: #777;
}
.basic-comments h4 {
	color: #888;
}
.basic-comments h4 span {
	color: #999;
}
.basic-comments .comment .media-body > p:last-child {
	border-color: #eee;
}
.basic-comments li .media-body > .small {
	color: #999;
}
.basic-comments li .media-body > p {
	border-color: #f0f0f0;
	color: #999;
}
.basic-comments .comment-list li {
	background: #fff;
	border-color: #eee;
}
.basic-heading-bor-bt h5::before {
	border-color: #3f51b5;
}
.basic-heading-bor-bt h5::before {
	border-bottom-color: #3f51b5;
}

/*==================== Body & Global ====================*/
.wrapper {
	background: transparent;
}
body {
	background: white;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	color: #212121;
}
a {
	color: #3f51b5;
}
blockquote {
	border-color: #3f51b5;
}
.form-control {
	border-color: #ebebeb;
	color: #ccc;
}
.form-control:hover, .form-control:focus, .form-control:active {
	border-color: #3f51b5;
}
.form-control::-moz-placeholder, .form-control:-ms-input-placeholder, .form-control::-webkit-input-placeholder {
	color: #ccc;
}
textarea {
	border-color: #ebebeb;
}
textarea:hover, textarea:focus {
	border-color: #4A4A4A;
}
input:not([type]) {
	border-color: #ebebeb;
	color: #333333;
}
input:not([type]):hover, input:not([type]):focus {
	border-color: #3f51b5;
}
input[type="text"] {
	border-color: #ebebeb;
	color: #333333;
}
input[type="text"]:hover, input[type="text"]:focus {
	border-color: transparent;
}
input[type="email"] {
	border-color: #ebebeb;
	color: #ccc;
}
input[type="email"]:hover, input[type="email"]:focus {
	border-color: #349BD6;
}
input[type="number"] {
	border-color: #ebebeb;
	color: #ccc;
}
input[type="number"]:hover, input[type="number"]:focus {
	border-color: #349BD6;
}
input[type="password"] {
	border-color: #ebebeb;
	color: #ccc;
}
input[type="password"]:hover, input[type="password"]:focus {
	border-color: #349BD6;
}
input[type="tel"] {
	border-color: #ebebeb;
	color: #ccc;
}
input[type="tel"]:hover, input[type="tel"]:focus {
	border-color: #349BD6;
}
input[type="url"] {
	border-color: #ebebeb;
	color: #ccc;
}
input[type="url"]:hover, input[type="url"]:focus {
	border-color: #349BD6;
}
input[type="reset"], input[type="submit"] {
	background: #349BD6;
	border-color: #349BD6;
	color: #fff;
}
input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus { 
	background: #1a2128;
	border-color: #1a2128;
	color: #fff;
}
select {
	background-color: #fff;
	border-color: #ebebeb;
	color: #444;
}
select:hover, select:focus {
	border-color: #3f51b5;
}
blockquote::before {
	color: #d0d0d0;
}
button {
	background: #3f51b5;
	border-color: #3f51b5;
	color: #fff;
}
button:hover, button:focus {
	background: #1a2128;
	border-color: #1a2128;
	color: #fff;
}
.btn {
	color: #fff;
}
.btn-theme {
	background: #3f51b5;
}
.btn-theme:hover, .btn-theme:focus {
	background: #1a2128;
	color: #fff;
}
.btn-theme-two {
	background: #fff;
	border-color: #fff;
	color: #3f51b5;
}
.btn-theme-two:hover, .btn-theme-two:focus {
	background: #3f51b5;
	border-color: #3f51b5;
	color: #fff;
}

@media only screen and (max-width: 972px) {
    .pagination-margin{
    	margin-bottom: 35px;
	}
}


.pagination{
	margin: 0px;
}

.pagination > li > a {
	color: #333;
}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus {
	background: #3f51b5;
	border-color: #3f51b5;
	color: #fff;
}
.pagination > .active > span:hover, .pagination > .active > span:focus {
	background: #3f51b5;
	border-color: #3f51b5;
	color: #fff;
}
.pagination > li > a:hover, .pagination > li > a:focus {
	background: #3f51b5;
	border-color: #3f51b5;
	color: #fff;
}
.grey-bg {
	background: #f9f9f9;
}
.basic-error-404 h1 {
	color: #3f51b5;
}
.basic-search .btn-submit {
	color: #fff;
}
/*---- alerts ----*/
.alert-success, .text-success {
	background-color: #2ac56c;
	color: #fff;
}
.alert-info, .text-info {
	background-color: #4593e3;
	color: #fff;
}
.alert-danger, .text-danger {
	background-color: #f06060;
	color: #fff;
}
.alert-warning, .text-warning {
	background-color: #fcd04b;
	color: #fff;
}
.progress-bar-success {
	background-color: #2ac56c;
	color: #fff;
}
.progress-bar-info {
	background-color: #4593e3;
	color: #fff;
}
.progress-bar-danger {
	background-color: #f06060;
	color: #fff;
}
.progress-bar-warning {
	background-color: #fcd04b;
	color: #fff;
}
.subscription-success {
	color: #2ac56c;
}
.subscription-error {
	color: #f06060;
}

/*---- heading ----*/
.basic-heading .basic-heading-inner {
	color: #333;
}
.basic-heading h3 span {
	color: #3f51b5;
}
/*==================== sidebar & widgets ====================*/
.basic-sidebar {
	border-color: #eee;
} 
.basic-sidebar .basic-widget h6, .basic-sidebar .basic-widget h2 {
	color: #1c1f24;
}
.basic-sidebar a {
    color: #666;
}
.basic-sidebar a:hover, .basic-sidebar a:focus {
	color: #3f51b5;
}
.basic-sidebar .widget_search .btn {
	color: #fff;
}
.basic-sidebar .widget_search .btn:hover, .basic-sidebar .widget_search .btn:focus {
	background: #161c28;
}
.basic-sidebar .basic-category-widget ul li {
	border-color: #f0f0f0;
}
.basic-sidebar .basic-widget ul li {
	border-color: #f0f0f0;
}

.basic-sidebar .basic-widget .textwidget {
	color: #969ea7;
}
.basic-sidebar .basic-widget-tags a, .basic-sidebar .basic-widget .tagcloud a {
	background: #f0f0f0;
	border-color: #f0f0f0;
	color: #999;
}
.basic-sidebar .basic-widget-tags a:hover, .basic-sidebar .basic-widget .tagcloud a:hover {
	background: #3f51b5;
	border-color: #3f51b5;
	color: #fff;
}
.basic-sidebar .calendar_wrap tbody #today {
	background: #349BD6;
	color: #fff;
}
.basic-sidebar .calendar_wrap table tbody #today:hover {
	background: #f1f1f1;
	color: #333;
}
.basic-sidebar .calendar_wrap table tbody td {
	border-color: #ddd;
	color: #999;
}
.basic-sidebar .calendar_wrap table tbody td:hover {
	background: #f1f1f1;
	color: #333;
}
.basic-sidebar .calendar_wrap table tbody td a {
	color: #999;
}
.basic-sidebar .calendar_wrap table tfoot {
	background: #f5f5f5;
	border-color: #ddd;
	color: #333;
}
.basic-sidebar .calendar_wrap table thead th {
	border-color: #ddd;
	color: #969ea7;
}
.basic-sidebar .calendar_wrap table caption {
	background: #eee;
	border-color: #ddd;
}

.basic-sidebar .basic-widget .basic-social li span.icon-soci {
	background: rgba(0,0,0,0);
}
.basic-sidebar .basic-widget .basic-social li span.icon-soci:hover {
	background: #3f51b5;
	border-color: #3f51b5;
	color: #fff;
}
.basic-sidebar .basic-widget .basic-social li span.icon-soci:hover i {
	color: #fff;
}
.basic-sidebar .basic-widget .basic-widget-address li span.icon-addr {
	background: #3f51b5;
	color: #fff;
}
.basic-sidebar .widget_product_search .btn {
	background: #3f51b5;
	color: #fff;
}
/*==================== footer & widgets ====================*/
footer .basic-footer-copyright p, footer .basic-footer-copyright a {
	color: white;
}
footer .basic-footer-copyright a:hover, footer .basic-footer-copyright a:focus {
	color: grey;
}
footer .basic-widget h6 {
	color: #fff;
}
footer a {
	color: #969ea7;
}
footer a:hover, footer a:focus {
	color: #fff;
}
footer p {
	color: #969ea7;
}
footer .basic-widget ul li {
	border-color: #969ea7;
	color: #fff;
}
footer .basic-widget ul li a:hover {
	color: #fff;
}
footer .basic-widget .list-unstyled li {
	border-color: #969ea7;
}
footer .basic-widget .list-unstyled li a {
	color: #969ea7;
}
footer .basic-widget .list-unstyled li a:hover {
	color: #fff;
}
footer .basic-widget .basic-widget-tags a, footer .basic-widget .tagcloud a {
	border-color: #969ea7;
	color: #969ea7;
}
footer .basic-widget .basic-widget-tags a:hover, footer .basic-widget .tagcloud a:hover {
	background: #3f51b5;
	border-color: #3f51b5;
	color: #fff;
}
footer .calendar_wrap caption {
	background: #eee;
	border-color: #969ea7;
}
footer .calendar_wrap tbody #today {
	background: #3f51b5;
}
footer .calendar_wrap table thead th {
	border-color: #969ea7;
}
footer .calendar_wrap a {
	color: #fff;
}
footer .basic-widget .calendar_wrap table thead th {
	color: #969ea7;
}
footer .calendar_wrap table tbody #today {
	color: #fff;
}
footer .calendar_wrap table tbody #today:hover {
	background: #f1f1f1;
	color: #333;
}
footer .calendar_wrap table tbody td {
	color: #fff;
}
footer .calendar_wrap table tbody td:hover {
	background: #f1f1f1;
	border-color: #ddd;
	color: #333;
}
footer .basic-widget .calendar_wrap table tfoot, footer .basic-widget .calendar_wrap table tfoot a {
	color: #333;
}
footer .calendar_wrap table tfoot {
	background: #f5f5f5;
	border-color: #ddd;
}
footer .basic-calendar a:hover {
	color: #969ea7;
}
footer .basic-calendar thead th {
	color: #969ea7;
}
footer .basic-calendar a {
	color: #fff;
}
footer .basic-calendar tbody td {
	color: #fff;
}
footer .basic-calendar tbody #today {
	color: #fff;
}
footer .basic-calendar tbody #today:hover {
	color: #333;
}
footer .basic-calendar tbody td:hover {
	color: #333;
}
footer .basic-calendar tfoot {
	color: #333;
}
footer .basic-calendar tfoot a {
	color: #333;
}
footer .basic-widget .textwidget {
	color: #969ea7;
}
footer .basic-blog-post span {
	color: #969ea7;
}
footer .basic-widget .form-control {
	background: rgba(0,0,0,0);
	border-color: #969ea7;
}
footer .basic-widget .basic-widget-quote .form-control {
	background: #1a2128;
	color: #969ea7;
}
footer .wpcf7-form p {
	color: #969ea7;
}
footer .basic-widget .wpcf7-form .wpcf7-form-control {
	background: #1a2128;
	color: #969ea7;
}
footer .basic-widget .wpcf7-form .wpcf7-form-control.wpcf7-submit {
	color: #fff;
}
footer .basic-widget .wpcf7-form .wpcf7-form-control.wpcf7-submit:hover {
	background: #1a2128;
}
footer .basic-widget.widget_search .btn {
	border-color: black;
	background-color: black;
}
footer .basic-widget.widget_search .btn:hover, footer .basic-widget.widget_search .btn:focus {
	background: #161c28;
	border-color: #161c28;
	color: #fff;
}
footer .widget_rss {
	color: #fff;
}
footer .basic-widget .basic-search-widget .btn:hover, footer .basic-widget .basic-search-widget .btn:focus {
	color: #fff;
}
footer .basic-footer-widget-area {
	border-top-color: rgba(225,225,225,0.2);
}
footer .basic-social li span.icon-soci {
	background: rgba(55, 165, 235, 0.3);
	color: white;
}
footer .basic-social li span.icon-soci:hover, footer .basic-social li span.icon-soci:focus {
	background: #3f51b5;
}
footer .basic-social li span.icon-soci:hover a, footer .basic-social li span.icon-soci:focus a {
	color: #fff;
}
.ti_scroll {
	background: #349BD6;
	border-color: #349BD6;
}
.ti_scroll i {
	color: #fff;
}
/*==================== WP Styles  ====================*/
.entry-header h1, .entry-header h1::before {
	color: #3f51b5;
}
.entry-content a, .entry-summary a, .entry-footer a {
	color: #3f51b5;
}
.entry-content a:hover, .entry-summary a:hover, .entry-footer a:hover {
	color: #1a2128;
}
.gallery-caption {
	color: #686868;
}
.wp-caption .wp-caption-text {
	color: #686868;
}
label {
	color: #4A4A4A;
}
.search-result{
	margin-top: 0px;
}
footer .widget_search .input-group .form-control{
	background-color: white;
}
.basic-blog-category.post-meta-data{
	margin-bottom: 0px;
}

.basic-blog-post-box article > h1{
	font-weight: 700;
}
.basic-blog-post-box article > h1 >a{
	color: black;
	transition: 0.3s;
	letter-spacing: 0.1px;
}
.basic-blog-post-box article > h1 >a:hover{
	text-shadow: 2px 2px grey;
	transition: 0.3s;
}
.single .basic-blog-post-box article > h1 > a:hover{
	text-shadow:none;
}
/*-------------------------------------------SmartMenu bootstrap-------------------------------------------*/
/* sub menus arrows on desktop */
.navbar-nav:not(.sm-collapsible) ul .caret {
	position: absolute;
	right: 0;
	margin-top: 6px;
	margin-right: 15px;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-left: 4px dashed;
}
.navbar-nav:not(.sm-collapsible) ul a.has-submenu {
	padding-right: 30px;
}
/* make sub menu arrows look like +/- buttons in collapsible mode */
.navbar-nav.sm-collapsible .caret, .navbar-nav.sm-collapsible ul .caret {
	position: absolute;
	right: 0;
	margin: -3px 15px 0 0;
	padding: 0;
	width: 32px;
	height: 26px;
	line-height: 24px;
	text-align: center;
	border-width: 1px;
 	border-style: solid;
}
.navbar-nav.sm-collapsible .caret:before {
	content: '+';
	font-family: monospace;
	font-weight: bold;
}
.navbar-nav.sm-collapsible .open > a > .caret:before {
	content: '-';
}
.navbar-nav.sm-collapsible a.has-submenu {
	padding-right: 50px;
}
/* revert to Bootstrap's default carets in collapsible mode when the "data-sm-skip-collapsible-behavior" attribute is set to the ul.navbar-nav */
.navbar-nav.sm-collapsible[data-sm-skip-collapsible-behavior] .caret, .navbar-nav.sm-collapsible[data-sm-skip-collapsible-behavior] ul .caret {
	position: static;
	margin: 0 0 0 2px;
	padding: 0;
	width: 0;
	height: 0;
	border-top: 4px dashed;
	border-right: 4px solid transparent;
	border-bottom: 0;
	border-left: 4px solid transparent;
}
.navbar-nav.sm-collapsible[data-sm-skip-collapsible-behavior] .caret:before {
	content: '' !important;
}
.navbar-nav.sm-collapsible[data-sm-skip-collapsible-behavior] a.has-submenu {
	padding-right: 15px;
}
/* scrolling arrows for tall menus */
.navbar-nav span.scroll-up, .navbar-nav span.scroll-down {
	position: absolute;
	display: none;
	visibility: hidden;
	height: 20px;
	overflow: hidden;
	text-align: center;
}
.navbar-nav span.scroll-up-arrow, .navbar-nav span.scroll-down-arrow {
	position: absolute;
	top: -2px;
	left: 50%;
	margin-left: -8px;
	width: 0;
	height: 0;
	overflow: hidden;
	border-top: 7px dashed transparent;
	border-right: 7px dashed transparent;
	border-bottom: 7px solid;
	border-left: 7px dashed transparent;
}
.navbar-nav span.scroll-down-arrow {
	top: 6px;
	border-top: 7px solid;
	border-right: 7px dashed transparent;
	border-bottom: 7px dashed transparent;
	border-left: 7px dashed transparent;
}
/* add more indentation for 2+ level sub in collapsible mode - Bootstrap normally supports just 1 level sub menus */
.navbar-nav.sm-collapsible ul .dropdown-menu > li > a,
.navbar-nav.sm-collapsible ul .dropdown-menu .dropdown-header {
	padding-left: 35px;
}
.navbar-nav.sm-collapsible ul ul .dropdown-menu > li > a,
.navbar-nav.sm-collapsible ul ul .dropdown-menu .dropdown-header {
	padding-left: 45px;
}
.navbar-nav.sm-collapsible ul ul ul .dropdown-menu > li > a,
.navbar-nav.sm-collapsible ul ul ul .dropdown-menu .dropdown-header {
	padding-left: 55px;
}
.navbar-nav.sm-collapsible ul ul ul ul .dropdown-menu > li > a,
.navbar-nav.sm-collapsible ul ul ul ul .dropdown-menu .dropdown-header {
	padding-left: 65px;
}
/* fix SmartMenus sub menus auto width (subMenusMinWidth and subMenusMaxWidth options) */
.navbar-nav .dropdown-menu > li > a {
	white-space: normal;
}
.navbar-nav ul.sm-nowrap > li > a {
	white-space: nowrap;
}
.navbar-nav.sm-collapsible ul.sm-nowrap > li > a {
	white-space: normal;
}
/* fix .navbar-right subs alignment */
.navbar-right ul.dropdown-menu {
	left: 0;
	right: auto;
}
.single-page-break, .page-break-links{
	font-size: 1.2em;
}
.navbar-header .navbar-brand img.custom-logo{
	max-width: 150px;
	max-height: 150px;
}
/*Image Alignment*/
.alignright{
    display: inline;
    float: right;
    margin-left: 1.5em;
}
.alignleft{
    display: inline;
    float: left;
    margin-right: 1.5em;
}
img.alignright{
    float: right;
    margin-left: 1.5em;
}
img.alignleft{
    float: left;
    margin-right: 1.5em;
}
figure.alignleft{
    float: left;
    margin-right: 1.5em !important;
}
figure.alignright{
    float: right;
    margin-left: 1.5em !important;
}
figure.aligncenter img[class*="wp-image-"]{
    display: inline-block;
}
.clearfix{
    background-color: transparent;
}
h1.archive_title{
	margin-top: 0px;
}